.lim {
    &__block {
        min-height: 100%;
    }

    &__container {
        &--row {
            width: 100%;
            align-items: center;
        }

        &--background {
            position: relative;
            width: 100vw;
            height: 100vh;
            background-image: url("../assets/background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
        }

        &--scooters-overlay {
            position: relative;
            width: 65vw;
            height: 85vh;
            justify-content: center;
            align-items: center;
            margin: 60px auto;
            background-color: $color-black-500;
            border-radius: 20px;
            overflow-y: auto;
        }

        &--scooters-content {
            position: relative;
            flex-direction: column;
            margin: auto;
            align-items: center;
            width: 50vw;
            max-width: 90%;
            min-height: 100%;
        }
    }

    &__logo{
        &--img {
            width: 35%;
        }
    }

    &__buttons-list {
        padding: 15px 0;
    }

    &__background--primary {
        background-color: $lim-primary;
        width: 100%;
    }

    &__scooters-list {
        justify-content: left;
    }

    &__scooter {
        &-info {
            margin-top: 30px;
        }

        &-form {
            width: 60%;
        }
    
        &-name {
            color: $color-white;
            font-family: 'Poppins-Medium';
            font-size: 24px;
        }
    
        &-position, &-charge-label {
            margin: 10px 0;
            color: $color-white;
        }

        &-charge-status {
            min-height: 30px;
            border-radius: 5px;
            
            &--high {
                width: 100%;
                background-color: $lim-charge-high;
            }
            &--medium {
                width: 60%;
                background-color: $lim-charge-medium;
            }
            &--low{
                width: 30%;
                background-color: $lim-charge-low;
            }
        }
    }
}

.flex {
    display: flex;
    
    &-left {
        justify-content: left;
    }

    &-center {
        justify-content: center;
    }
}